{% extends 'base.html' %}

{% block content %}

<h1>Our Products</h1>

<div class="product-grid">

<div class="product">
<img src="https://images.unsplash.com/photo-1521572163474-6864f9cf17ab">
<h3>T-Shirt</h3>
<p>ราคา 299 บาท</p>
</div>

<div class="product">
<img src="https://images.unsplash.com/photo-1503342217505-b0a15ec3261c">
<h3>Jacket</h3>
<p>ราคา 899 บาท</p>
</div>

<div class="product">
<img src="https://images.unsplash.com/photo-1512436991641-6745cdb1723f">
<h3>Hoodie</h3>
<p>ราคา 690 บาท</p>
</div>

</div>

{% endblock %}