body{
    margin: 0;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    width: 100vw;
    height: 100vh;                          
}

.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container img{
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;   
}

.modal{
    background: rgba(0,0,0,0.5);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
  
.full-image{
    position: absolute;
    height: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.3s ease-in-out;
}

.modal.open{
    opacity: 1;
    pointer-events: all;
}